* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #212529;
  --primary-color: #ffcfd7;
  --font-color: #f1f1f1;
  --border-color: #b1b1b1;
  --error-color: #ff0043;
  --success-color: #00ff62;
  --border-width: 0.1rem;
  --border-radius: 3rem;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 35rem;
  padding: 1rem 2rem;
  position: relative;
  /* background-color: red; */
}

header {
  padding: 2rem 0;
  /* background-color: red; */
}

button {
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  cursor: pointer;
}

#theme-switcher {
  color: var(--font-color);
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--font-color);
}

#theme-switcher:hover {
  color: var(--bg-color);
  background-color: var(--font-color);
}

.char-symbol {
  background-color: var(--font-color);
  color: var(--bg-color);
}

.char-number {
  color: #212529; /* Fixed hexacode so it doesn't get the effects of the theme switching */
}

input {
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-size: 1.75rem;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  text-align: end;
  width: 100%;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

#keys button {
  font-size: 1.5rem;
  padding: 0.75rem;
}

#keys button:hover {
  filter: brightness(0.7);
}

#copy-to-clipboard {
  background-color: transparent;
  border: solid var(--border-color);
  border-width: var(--border-width) 0 var(--border-width) var(--border-width);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 1rem;
  color: var(--font-color);
  width: 8.5rem;
  height: 4.2rem;
}

#result {
  border-width: var(--border-width) var(--border-width) var(--border-width) 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.success {
  border-color: var(--success-color) !important;
  color: var(--success-color) !important;
}

.error {
  border-color: var(--error-color) !important;
  background-color: var(--error-color) !important;
}
